{% extends 'base.html' %}
{% block title %} Agent List{% endblock %}
{% block pagecontent %}

<div class="container">
    <h3>Agent List</h3>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Agent</th>
            <th scope="col">Code</th>
        </tr>
        </thead>
        <tbody>
        {% for agent in object_list %}
        <tbody>
        <tr>
            <th scope="col">{{forloop.counter}}</th>
            <th scope="col">{{agent.user}}</th>
            <th scope="col">{{agent.code}}</th>
        </tr>
        </tbody>
        {% endfor %}
        <a class="btn btn-outline-secondary" href="{% url 'users:home' %}"> Main Page</a>
        </tbody>
    </table>
</div>

{% endblock %}

