{% extends 'base.html' %}
{% block title %} Candidate Request{% endblock %}
{% block pagecontent %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}


<div class="container">
    <h3>Candidate Request List</h3>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Create Date</th>
            <th scope="col">Name</th>
            <th scope="col">Mobile No</th>
            <th scope="col">Email</th>
            <th scope="col">Gender</th>
            <th scope="col">Agent Code</th>
            <th scope="col">Resume</th>
            <th scope="col">Status</th>
            <th> Action</th>
        </tr>
        </thead>

        {% for candidate in candidates %}
        <tbody>
        <tr>
            <th scope="col">{{forloop.counter}}</th>
            <th scope="col">{{candidacounterte.created}}</th>
            <th scope="col">{{candidate.name}} {{candidate.last_name}}</th>
            <th scope="col">{{candidate.mobile_no}}</th>
            <th scope="col">{{candidate.email}}</th>
            <th scope="col">{{candidate.gender}}</th>
            <th scope="col">{{candidate.reference_details}}</th>
            <th scope="col"><a href="{% url 'users:download' candidate.pk %}"><i class="fa fa-download"
                                                                                 aria-hidden="true"></i></a>
            </th>
            <th scope="col">{{candidate.profile_status}}</th>
            <th scope="col"><a href="{% url 'users:candidate-update' candidate.pk %}">Open</a></th>
        </tr>
        </tbody>
        {% endfor %}
        <a class="btn btn-outline-secondary" href="{% url 'users:home' %}"> Main Page</a>
    </table>
</div>
{% endblock %}